## imports

import(siggenes)
importFrom(Biobase, exprs)

importFrom(affy, justRMA, list.celfiles, ReadAffy, mas5,
           probeset, pm, mm)

importFrom(multtest, mt.rawp2adjp, mt.teststat,
           mt.reject, mt.teststat.num.denum)

importFrom(survival, survdiff, Surv, survfit)

importFrom(xtable, xtable)

importFrom(gcrma,justGCRMA)

importFrom(heatmap.plus, heatmap.plus)

importFrom(biomaRt, useMart, getBM)

importFrom(GSA, GSA, GSA.read.gmt, GSA.listsets, GSA.genescores)

importFrom(MASS, ginv)

importFrom(FactoMineR, PCA, plot.PCA, MFA, plot.MFA,
           coord.ellipse, write.infile)

importFrom(cluster, agnes, daisy, diana, pam)

importFrom(AnnotationDbi, as.list, mget)
importFrom("grDevices", "bitmap", "col2rgb", "dev.new", "dev.off",
           "pdf", "rainbow", "rgb")
importFrom("graphics", "abline", "axis", "barplot", "box", "boxplot",
           "hist", "image", "layout", "legend", "lines", "matplot",
           "mtext", "par", "points", "text")
importFrom("stats", "as.dendrogram", "as.hclust", "biplot",
           "chisq.test", "cor", "cor.test", "cov", "cutree", "density",
           "kmeans", "na.omit", "p.adjust", "pchisq", "pf", "pt",
           "pwilcox", "qqline", "qqnorm", "qqplot", "quantile",
           "rwilcox", "sd", "shapiro.test", "t.test", "var",
           "var.test", "wilcox.test")
importFrom("utils", "write.table")
## exported functions
export(as.colors,
       bioMartAnnot,
       clustering,       
       clustering.plot,
       clustering.kmeans,
       distrib.plot,
       eval.stability.clustering,
       expFilter,
       foldchange,
       genes.selection,
       intersectg,
       setdiffg,
       km,
       multiple.correction,
       myPalette,
       normAffy,
       ordinal.chisq,
       plotInertia,
       plotSample,
       plotVariable,
       PLS,
       probePlots,
       runGSA,
       runHyperGO,
       runHyperKEGG,
       runIndTest,
       runMFA,
       runPCA,
       runSAM,
       runTtest,
       runWilcox,
       sample.plot,
       test.LC,
       test.nested.model,
       makeAllContrasts
       )

